<!doctype html>
<html lang="zh-CN">
<head>
<title>{$webtitle}-{$site.name}</title>
<meta name="description" content="{$site.description},{$info['description']}" />
<meta name="keywords" content="{$site.keyword},{$info['keywords']}" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href='/img/cssa.css' rel='stylesheet' type='text/css'>
<link href='/img/cssb.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/img/nanumgothic.css" />
<link type="text/css" rel="stylesheet" href="/img/@default.css" />
<link href="/img/swiper.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" media="all and (max-width:1099px)" href="/img/@default_m.css" />
<script type="text/javascript" src="/img/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/img/jquery.bxslider.js"></script>
<script type="text/javascript" src="/img/common.js"></script>
<link rel="shotcut icon" href="/img/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body  oncontextmenu="return false" onselectstart="return false" ondragstart="return false" >
<div id="wrap"> 
  <script type="text/javascript">
	jQuery(document).ready(function($){
		setGnb();
	});

	$(window).resize(function(){
		if (winSize > 767) closeMobileGnb(1);
	});
	</script> 

  <div id="header">
    <div class="inner">
      <p class="logo"><a href="/"><img src="/img/logo.png" ></a></p>
      <span class="gnb_btn img_block"><img src="/img/gnb_btn.png"></span>
      <div class="gnb_wrap">
        <ul class="tnb">
          <li><a href=/index.php/Register/index>在线报名</a>|</li>
          <li><a href=/index.php/Register/query>证件查询</a>|</li>
          <li class="last"><a href=/index.php/Register/queryscore>名次查询</a></li>
        </ul>
        <ul class="gnb">
<li class="gnb_01 m_no_sub"><a href="/" class="gnb_link">首页</a></li>
<li class="gnb_02"><a href="/index.php/page/index/name/zjds" class="gnb_link">公司简介</a>
  <ul class="gnb_sub">
    <li><a href="/index.php/page/index/name/gsjj">跨世简介</a></li>
    <li><a href="/index.php/page/index/name/dszzc">服务理念</a></li>
    <li><a href="/index.php/page/index/name/dsys">企业文化</a></li>
    <li><a href="/index.php/page/index/name/qywh">发展历程</a></li>
  </ul>
</li>
<li class="gnb_02"><a href="/index.php/page/index/name/gsryt" class="gnb_link">服务介绍</a>
  <ul class="gnb_sub">
    <li><a href="/index.php/page/index/name/zzjig">射箭</a></li>
    <li><a href="/index.php/page/index/name/dszjg">游泳</a></li>
    <li><a href="/index.php/page/index/name/qyyjd">篮球</a></li>
    <li><a href="/index.php/page/index/name/lnzhg">马拉松</a></li>
    <li><a href="/index.php/page/index/name/fsdfg">瑜伽</a></li>
    <li><a href="/index.php/page/index/name/dsship">真人cs</a></li>
    <li><a href="/index.php/page/index/name/rlzy">羽毛球</a></li>
    <li><a href="/index.php/page/index/name/rczpp">体操</a></li>
  </ul>
</li>
<li class="gnb_03"><a href="/index.php/page/index/name/yggh" class="gnb_link">会员服务</a>
  <ul class="gnb_sub">
    <li><a href="/index.php/page/index/name/rczl">VIP服务</a></li>
    <li><a href="/index.php/page/index/name/jltd">VIP等级</a></li>
    <li><a href="/index.php/page/index/name/qqyxwl">健身常识</a></li>
    <li><a href="/index.php/page/index/name/gnxswl">BMI测试</a></li>
  </ul>
</li>
<li class="gnb_04"><a href="/index.php/page/index/name/qyvixx" class="gnb_link">加盟中心</a>
  <ul class="gnb_sub">
    <li><a href="/index.php/page/index/name/shfw">合作方式</a></li>
    <li><a href="/index.php/page/index/name/dszlxz">加盟联系</a></li>
    <li><a href="/index.php/message/index">在线留言</a></li>
  </ul>
</li>
<li class="gnb_05"><a href="/index.php/page/index/name/spzx" class="gnb_link">联系我们</a> </li>
        </ul>
        <ul class="m_tnb">
          <li><a href=/index.php/Register/index>在线报名</a></li>
          <li><a href=/index.php/Register/query>证件查询</a></li>
          <li><a href=/index.php/Register/queryscore>名次查询</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="container" class="sub_wrap"> 

    <div class="sv K03"><b class="busjk">{$Think.lang.T_MESSAGE}</b><span class="sv_line"></span>
      <p>KUASHI SPORTS</p>
    </div>

    <div class="snb_wrap ">
      <ul class="snb snb_col04">
    <li class="on"><a href="/index.php/message/index">在线留言</a></li>
    <li><a href="/index.php/page/index/name/shfw">合作方式</a></li>
    <li><a href="/index.php/page/index/name/dszlxz">加盟联系</a></li>
    <li><a href="/index.php/page/index/name/spzx">联系我们</a> </li>
      </ul>
    </div>

    <div class="inner sub_ct"> 

      <div class="sub_l">
        <h1>{$Think.lang.T_MESSAGE}</h1>
        <div class="xiaolanmu">
           <h2>台州蓝协</h2>
           <p>KUASHI SPORTS DEVELOPMENT COMPANY LIMITED</p>
        </div>
        
        <div class="xiaodaoh">
           <img src="/img/1-1.jpg">
           <ul>
             <volist name="catlist" id="vo">
                            <li><a href='{:U("page/index",array("name"=>$vo["unique_id"]))}'>{$vo.page_name}</a></li>
                            </volist>
            </ul>
        </div>

      </div>

      <div class="sub_r lectr_wrap">
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<div style="height:360px; width:96.5%; padding:0 ; margin:0 0 20px 0; overflow:hidden; border-bottom:#CBCBCB solid 1px;">
<div id="dituContent"></div>
</div>

<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(121.39096,28.658149);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"台州蓝协",content:"公司地址：浙江省台州市体育中心<br/>服务热线：0576-88803456",point:"121.39096|28.658149",isOpen:1,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>      

<div class="yewdang">
<form action="{:U('message/add')}" id="contact_form" method="post" />
<dl>
  <dt>{$Think.lang.T_NAME}</dt>
  <dd><input type="text" name="username" id="name" value=""/></dd>
</dl>
<dl>
  <dt>{$Think.lang.T_EMAIL}</dt>
  <dd><input type="text" name="email" id="email" value="" /></dd>
</dl>
<dl>
  <dt>{$Think.lang.T_MOBILE}</dt>
  <dd><input type="text" name="moblie" id="moblie" value="" /></dd>
</dl>
<dl>
  <dt>{$Think.lang.T_MESSAGE_CONTENT}</dt>
  <dd><textarea name="content" id="message" style="height: 80px;"></textarea></dd>
</dl>
<dl>
  <dt>{$Think.lang.T_CODE}</dt>
  <dd><input name="verify_code" id="verify_code" type="text" size="20" value="" style=" width:30%;" />
    <img src="{:U('Base/verify_code')}"  title="看不清？单击此处刷新" onclick="this.src+='?rand='+Math.random();"  style="cursor: pointer; vertical-align: middle;"/></dd>
</dl>
<p><input name="submitted" id="submitted" value="提 交 留 言" type="submit" class="submit" /></p>

</form>
</div>


         

        



      </div>

    </div>

    
  </div>
  <script type="text/javascript">
	function goTop(){
		$("html, body").animate({scrollTop:0},600);
	}

</script> 
  


  <div id="footer"> 

    <div id="quick">
      <div class="inner">
        <div class="q_right">
          <ul class="q_sitemap">
          
         
          
          
          
<li><a href="/index.php/page/index/name/zjds">公司简介</a>
  <ul class="q_sitemap_sub">
    <li><a href="/index.php/page/index/name/gsjj">跨世简介</a></li>
    <li><a href="/index.php/page/index/name/dszzc">服务理念</a></li>
    <li><a href="/index.php/page/index/name/dsys">企业文化</a></li>
    <li><a href="/index.php/page/index/name/qywh">发展历程</a></li>
  </ul>
</li>
<li><a href="/index.php/page/index/name/gsryt">服务介绍</a>
  <ul class="q_sitemap_sub">
    <li><a href="/index.php/page/index/name/zzjig">射箭</a></li>
    <li><a href="/index.php/page/index/name/dszjg">游泳</a></li>
    <li><a href="/index.php/page/index/name/qyyjd">篮球</a></li>
    <li><a href="/index.php/page/index/name/lnzhg">马拉松</a></li>
    <li><a href="/index.php/page/index/name/fsdfg">瑜伽</a></li>
    <li><a href="/index.php/page/index/name/dsship">真人cs</a></li>
    <li><a href="/index.php/page/index/name/rlzy">羽毛球</a></li>
    <li><a href="/index.php/page/index/name/rczpp">体操</a></li>
  </ul>
</li>
<li><a href="/index.php/page/index/name/yggh">会员服务</a>
  <ul class="q_sitemap_sub">
    <li><a href="/index.php/page/index/name/rczl">VIP服务</a></li>
    <li><a href="/index.php/page/index/name/jltd">VIP等级</a></li>
    <li><a href="/index.php/page/index/name/qqyxwl">健身常识</a></li>
    <li><a href="/index.php/page/index/name/gnxswl">BMI测试</a></li>
  </ul>
</li>


<li><a href="/index.php/news/index">新闻中心</a>
  <ul class="q_sitemap_sub">
    <li><a href="/index.php/news/index/cid/1">赛事新闻</a></li>
    <li><a href="/index.php/news/index/cid/2">跨世公告</a></li>
    <li><a href="/index.php/news/index/cid/3">媒体中心</a></li>
    <li><a href="/index.php/news/index/cid/4">精彩瞬间</a></li>
    <li><a href="/index.php/news/index/cid/5">健康知识</a></li>
    <li><a href="/index.php/news/index/cid/6">体育知识</a></li>
  </ul>
</li>
<li><a href="/index.php/product/index">精彩视频</a>
  <ul class="q_sitemap_sub">
    <li><a href="/index.php/product/index/cid/7">国际比赛片段</a></li>
    <li><a href="/index.php/product/index/cid/8">中国比赛片段</a></li>
    <li><a href="/index.php/product/index/cid/9">台州比赛片段</a></li>
    <li><a href="/index.php/product/index/cid/10">媒体报道</a></li>
  </ul>
</li>
          </ul>
        </div>
        <div class="q_left">
          <div class="q_op_time">
            <p class="t-hide">跨世体育联系方式</p>
            <p class="mt15">工作时间<br>
              <strong>白天 08:00~17:00<br>
              晚上 18:00~23:00</strong><br>
              <small><b>跨世地址</b><br>
              浙江省台州市体育中心</small></p>
          </div>
          <div class="q_weather">
            <div class="wth_type t01">
              <p class="temp">电话</p>
              <h6>0576<br>
                <span class="date">88803456</span></h6>
            </div>
          </div>
        </div>
        <div class="q_contact">
          <p class="q_mail"><span></span><a href="mailto:625499077@qq.com">邮件联系</a></p>
          <p class="q_site ml10 t-ml0 t-mt10"> <span></span>
            <select name="family_site" id="family_site" onchange="if(this.value) window.open(this.value);">
              <option value="加盟中心">加盟中心</option>
              <option value="/index.php/page/index/name/shfw">合作方式</option>
              <option value="/index.php/page/index/name/dszlxz">加盟联系</option>
              <option value="/index.php/message/index">在线留言</option>
              <option value="/index.php/page/index/name/spz">联系我们</option>
            </select>
          </p>
        </div>
      </div>
    </div>


    
    <div class="copyright">
      <p class="inner pt15 pb15"> Copyright  2016, KUASHI SPORTS, Co,. Ltd. All Rights Reserved. <span class="show-state" data-break-point="768" data-after-state="show"><br>
        </span><span class="go_top"><a href="javascript:goTop();"><img src="/img/top.jpg" alt="TOP"></a></span> </p>
    </div>
  </div>

  
</div>
<div style="display:none;">{$site.tongji}</div>

</body>
</html>
