@charset "utf-8";

img {max-width:100%;}
.pc-hide {display:none;}
.pc-block {display:block;}
.img_mid img {vertical-align:middle;}
.img_fit img {width:100%; height:100%; display:block;}
.img_block img {display:block;}
.blind {
	position:absolute;
	left:0; top:0; right:0; bottom:0;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	-ms-filter:alpha("opacity=60");
	z-index:99999;
}
/* Header */
.logo {
	padding-top:17px;
}
/* gnb - PC */
.gnb_btn {display:none;}
.gnb_wrap {
	position:absolute;
	right:0; top:12px;
}
.tnb {
	overflow:hidden;
	float:right;
}
.tnb li {
	float:left;
	color:#ccc;
	font-size:12px;
	line-height:12px;
}
.tnb a {
	margin:0 10px;
}
.tnb .last a {
	margin-right:0;
}
.gnb {
	margin-top:17px;
	clear:right;
	float:right;
}
.gnb > li {
	float:left;
	letter-spacing:-0.05em;
	margin-left:80px;
	position:relative;
}
.gnb_link {
	display:block;
	margin:0 auto;	
	position:relative;
	text-align:center;
	height:35px; line-height:18px;
	color:#fff;
	font-weight:600;
}
.gnb_link span {
	position:absolute;
	left:0; top:0;
	display:block;
	height:18px;
	background-color:#fff;
	background-image:url("gnb_sp.jpg");
	cursor:pointer;
}
.gnb_sub {
	position:absolute;
	top:35px;
	left:50%; margin-left:-65px;
	width:130px;
	border-top:4px solid #0172BE;
	display:none;
}
.gnb li:hover .gnb_sub {
	display:block;
}
.gnb_sub li {
	border-top:1px solid #ddd;
}
.gnb_sub li:first-child {
	border-top:0;
}
.gnb_sub a {
	display:block;
	height:44px; line-height:44px;
	background:#fff;
	text-align:center;
	color:#777;
	font-size:13px;
	letter-spacing:-0.05em;
}
.gnb_sub a:hover {
	color:#0172BE;
}
/* gnb - pc : image sprite */
.gnb_01 {width:40px;}
.gnb_01 span {width:40px; background-position:0 0; }
.gnb_02 {width:69px;}
.gnb_02 span {width:69px; background-position:-120px 0; }
.gnb_03 {width:69px;}
.gnb_03 span {width:69px; background-position:-262px 0; }
.gnb_04 {width:69px;}
.gnb_04 span {width:69px; background-position:-403px 0; }
.gnb_05 {width:69px;}
.gnb_05 span {width:69px; background-position:-561px 0; }

/* tnb - mobile */
.m_tnb {
	overflow:hidden;
	padding:12px 0;
	display:none;
	background:#fff;
}
.m_tnb li {
	float:left;
	box-sizing:border-box;
	width:33.33%;
	text-align:center;
	font-size:12px;
	line-height:14px;
	border-left:1px solid #ddd;
	letter-spacing:-0.03em;
}
.m_tnb li:first-child {
	border-left:0;
}
.m_tnb a {
	display:block;
}

/* Footer */
/* Quick */
#quick .inner {
	overflow:hidden;
}
#quick div { color:#aaa;}

.q_left {
	width:223px;
	float:left;
}
.q_right {
	width:870px;
	float:right;
}

.q_op_time {
	padding-left:60px;
	padding-bottom:20px;
	margin-bottom:15px;
	text-align:right;
	line-height:1.2em;
	background:url("f_clock.png") no-repeat left top;
	border-bottom:1px solid #40423e;
	font-size:0.85em !important;
}
.q_op_time small {
	line-height:14px;
	padding-top:10px;
	display:block;
}

.q_sitemap {
	overflow:hidden;
	float:right;
}
.q_sitemap > li {
	float:left;
	height:125px;
	padding:5px 45px 0 45px;
	border-right:1px solid #40423e;
	text-align:right;
	line-height:1.4em;	
}
.q_sitemap > li.last {
	padding-right:0;
	border-right:0;
}
.q_sitemap a {
	font-size:14px;
	letter-spacing:-0.04em;
}
.q_sitemap .last a {
	margin-right:0;
}
.q_sitemap > li > a {
	font-size:16px;
	color:#ccc;
	font-weight:600;
}
.q_sitemap_sub {
	margin-top:12px;
}
.q_contact {
	clear:right;
	float:right;
	width:310px;
	margin-top:20px;
}
.q_mail {
	float:left;
	width:150px; height:33px; 
	position:relative;
}
.q_site {
	float:left;
	width:150px; height:33px;
	position:relative;
}
.q_contact span {
	display:block;
	width:100%; height:100%;
	background:#51554f;
	opacity:0.3;
	filer:alpha(opacity=30);
	-ms-filer:alpha("opacity=30");
}
.q_mail a {
	position:absolute;
	left:0; top:0;
	display:block;
	width:120px; height:33px;
	line-height:33px;
	padding:0 15px;
	color:#7a7a7a;
	font-size:13px;
	letter-spacing:-0.03em;
	text-align:left;
	background:url("icon_mail.png") no-repeat 92.5% center;
}
.q_site select {
	position:absolute;
	width:100%; height:33px;
	line-height:33px;
	left:0; top:0;
	border:0;
	padding-left:12px;
	background:transparent;
	color:#7a7a7a;
	font-size:13px;
}
.copyright {
	/* padding:15px 0; */
	font-size:13px;
	color:#777;
	background:url("copyr_bg.png");
	position:relative;
}

.copyright .go_top {
	position:absolute;
	right:0; top:0;
	display:block;
	height:100%;
	text-align:right;
}
.copyright .go_top img {
	display:block;
	height:100%;
}
/* Weather */
.wth_type {
	/* padding-left:85px; */
	background-repeat:no-repeat;
	background-size:auto 40px;
	background-position:left 0;
	overflow:hidden;
}
.wth_type.t01 {background-image:url("weather01.png");}
.wth_type.t02 {background-image:url("weather02.png");}
.wth_type.t03 {background-image:url("weather03.png");}
.wth_type.t04 {background-image:url("weather04.png");}
.wth_type.t05 {background-image:url("weather05.png");}
.wth_type.t06 {background-image:url("weather06.png");}
.wth_type.t07 {background-image:url("weather07.png");}

.wth_type h6 {
	padding-top:3px;
	font-size:15px;
	line-height:1.2em;
	letter-spacing:-0.05em;
	text-align:right;
	color:#555;
	font-weight:600;
}
.wth_type .temp {
	float:right;
	text-align:right;
	padding-right:17px;
	margin-left:5px;
	font-size:35px;
	font-weight:400;
	color:#555;
	letter-spacing:-0.08em;
	line-height:40px;
	font-family:"微软雅黑" ,"楷体", "宋体",'Crimson Text', serif;
	/* background:url("tmp_c.png") no-repeat right 3px; */
}
.wth_type h6 span {
	font-weight:600;
	font-size:14px;
	color:#5d605d;
}
/* Contact */
#contact {
	position:relative;
	width:100%;
	font-size:14px;
	line-height:1.7em;
}
#contact .inner {
	display:block;
	width:92%;
	max-width:460px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#contact h1 {
	height:60px; line-height:60px;
	background:#0172BE;
	color:#fff;
	font-size:1.5em;
	font-weight:600;
	letter-spacing:-0.05em;
}
#contact .close {
	position:absolute;
	right:0; top: -38px;
}
.contact_tab {
	overflow:hidden;
	border:1px solid #bcd3be;
	border-right:0;
	margin-bottom:20px;
}
.contact_tab li {
	float:left;
	width:50%;
}
.contact_tab a {
	display:block;
	height:38px; line-height:38px;
	border-right:1px solid #bcd3be;
	text-align:center;
	color:#555;
}
.contact_tab .on a {
	background:#f6fdf7;
	font-weight:600;
}
.contact_policy {
	height:88px;
	padding:3.8% 4.3%;
	border:1px solid #ccc;
	overflow:auto;
	margin-bottom:10px;
}
#contact input[type="checkbox"] {
	border-radius:0;
	border:1px solid #555;
	width:15px; height:15px;
	line-height:1.7em;
}
#contact input[type="text"] {
	border:1px solid #ccc;
	border-radius:0;
	width:150px; height:25px;
	padding:0 5px;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
#contact textarea {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	padding:5px;
	border:1px solid #ccc;
	border-radius:0;
	width:98%;
	height:125px;
	line-height:1.7em;
	resize:vertical;

	overflow-scrolling:touch;
	-webkit-overflow-scrolling:touch;
	-moz-overflow-scrolling:touch;
}
.contact_form {
	width:100%;
	border-top:1px solid #202020;
	font-size:0.92em;
}
.contact_form th {
	background:#fafafa;
	color:#444;
	padding:10px 0;
	border-bottom:1px solid #ddd;
	vertical-align:top;
}
.contact_form td {
	padding:10px;
	border-bottom:1px solid #ddd;
}
.shot_notice {
	background:#f9f9f9;
	padding:4.3%;
	margin-top:30px;
}
.shot_notice h2 {
	font-weight:600;
	color:#298e31;
	font-size:1.2em;
	margin-bottom:10px;
	letter-spacing:-0.05em;
}
.shot_notice .bl_list li {
	font-size:0.93em;
	padding-left:8px;
	text-indent:-8px;
}
#contact input[type="button"] {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	border:1px solid #298e31;
	width:65px;
	height:65px; line-height:65px;
	text-align:center;
	background:#fff;
	color:#298e31;
	font-size:1.2em;
	outline:0;
	cursor:pointer;
	border-radius:33px;
	-webkit-border-radius:33px;
	-moz-border-radius:33px;
	-o-border-radius:33px;
}
#contact input[type="button"].on {
	background:#298e31;
	color:#fff;
	font-weight:600;
}