@import url("reset.css");
@import url("common.css");

/* 공통테이블 */
table {width:100%;}
th, td {padding:10px 15px;border:1px solid #e5e5e5;vertical-align:middle;}
thead th {border-bottom:0;}
th {font-size:1.1em;color:#2f3132;background:#edf5fa;text-align:left;}

/* 서비스센터-본사및 영업소 */
.dNum-040101 .tab-type01 {margin-bottom:40px;}
.dNum-040101 h4 {padding-bottom:20px;color:#333;font-size:1.7em;}
.dNum-040101 .section01 {float:left;width:100%;padding-bottom:60px;}
.dNum-040101 .section01 td.pd a {margin-left:10px;}
.dNum-040101 .section01 td.pd a img {vertical-align:middle;}
.dNum-040101 .section02 {clear:both;}
.dNum-040101 .section02 th, .dNum-0401 .section02 td {text-align:center;}
.dNum-040102 .section02 th, .dNum-040102 .section02 td {padding:10px 4px;text-align:center;word-break:break-all;}
.dNum-040101 .section02 td.txt_c {text-align:center;}
.dNum-040101 .section02 td.txt_l {text-align:left;}

/* 서비스센터-대리점 */
.dNum-040102 .tab-type01 {margin-bottom:40px;}
.dNum-040102 .section01 {float:left;width:100%;border:1px solid #e5e5e5;}
.dNum-040102 .section01 .f_l {width:50%;border-right:1px solid #e5e5e5;}
.dNum-040102 .section01 .f_r {width:49%;}
.dNum-040102 .section01 p {padding:0 40px;}
.dNum-040102 .section01 .title {padding:40px 40px 12px;color:#4a4a90;font-size:1.3em;}
.dNum-040102 .section01 .mapImg {padding:20px 0 35px;text-align:center;}
.dNum-040102 select.search {padding:9px 0;margin:20px 0;width:100%;border:1px solid #e5e5e5;font-size:0.95em;}
.dNum-040102 .btn {text-align:center;}
.dNum-040102 .section02 {clear:both;padding-top:50px;}
.dNum-040102 .section02 th, .dNum-040102 .section02 td {padding:10px 4px;text-align:center;word-break:break-all;}
.dNum-040102 .section02 td.txt_l {padding:10px 15px;text-align:left;}

/* 자가정비요령 */
.dNum-0402 .tab-type01 {margin-bottom:40px;}
.dNum-0402 h4 {float:left;padding:45px 0 20px;color:#333;font-size:1.7em;}
.dNum-0402 .section01 {margin-top:280px;}
.dNum-0402 .section01,.dNum-0402 .section02,.dNum-0402 .section03,.dNum-0402 .section04,.dNum-0402 .section05 {border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.dNum-0402 div.last {border-bottom:1px solid #e5e5e5;}
.dNum-0402 .title {padding:18px 20px;border-top:1px solid #e5e5e5;background:#edf5fa;font-size:1.1em;color:#000;}
.dNum-0402 li .q, .dNum-0402 li .a {border-top:1px solid #e5e5e5;}
.dNum-0402 li .q {padding:15px 20px;background:url("img_ico_list02.gif") no-repeat 98% 22px;}
.dNum-0402 li.on .q {background-image:url("img_ico_list01.gif");}
.dNum-0402 li .q a {display:block;padding-left:26px;height:100%;min-height:15px;color:#666;background:url("img_ico_q.gif") no-repeat 0 center;}
.dNum-0402 li .a {display:none;padding:0 20px 15px;}
.dNum-0402 li.on .a {display:block;}
.dNum-0402 li .a .txt_b {margin:15px 0 6px;font-weight:bold;color:#4a4a90;}
.dNum-040203 h4 {padding:20px 0;}
.dNum-040203 .section01 {margin-top:210px;}

/*다운로드센터*/
.dNum-0403 .searchFrm {position:relative;height:auto;text-align:left;}
.dNum-0403 .searchFrm form {padding:20px;border:1px solid #e5e5e5;}
.dNum-0403 .searchFrm select {width:180px;margin-right:5px;}
.dNum-0403 .section01 div {position:relative;padding-bottom:5px;}
.dNum-0403 .section01 div .txt {position:absolute;top:0;right:0;}
.dNum-0403 .txt span {color:#ed1c24;font-weight:bold;padding:0 2px;line-height:1.2;}
.dNum-0403 .txt a img {vertical-align:middle;}
.dNum-0403 .section01 {float:left;width:100%;padding-top:35px;}
.dNum-0403 .section01 .title {font-size:1.75em;color:#333;}
.dNum-0403 .box-grey {margin:20px 0;padding:12px 20px;background:#f8f8f8;border:1px solid #e5e5e5;}
.dNum-0403 .list {float:left;width:100%;border-left:1px solid #e5e5e5;}
.dNum-0403 .list li {float:left;width:50%;background:url("img_download_bg01.gif") no-repeat 17px 20px;cursor:pointer;}
.dNum-0403 .list li p {padding:26px 20px 26px 55px;border:1px solid #e5e5e5;border-top:0;border-left:0;background:url("img_download_bg02.gif") no-repeat right center;}
.dNum-0403 .list li.btop p {border-top:1px solid #e5e5e5;}
.dNum-0403 .list li p a {display:block;width:95%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;color:#666;}

/*전자카탈로그*/
.dNum-0404 .list {float:left;width:100%;border-left:1px solid #e5e5e5;}
.dNum-0404 .list li {float:left;width:33.24%;}
.dNum-0404 .list li div {width:100%;padding:29px 0 25px;border:1px solid #e5e5e5;border-left:0;border-top:0;}
.dNum-0404 .list li.btop div {border-top:1px solid #e5e5e5;}
.dNum-0404 .list li .img {position:relative;margin:0 29px 20px;text-align:center;overflow:hidden;}
.dNum-0404 .list li .img img {max-width:250px;width:100%;}
.dNum-0404 .list li .subject {margin:0 29px;}
.dNum-0404 .list li .subject a {display:block;padding-right:15px;font-size:1.1em;font-weight:bold;color:#000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;background:url("img_download_bg03.gif") no-repeat right center;}
.board-no {float:left;width:100%;text-align:center;padding:100px 0;border-top:2px solid #e5e5e5;}

/*온라인상담*/
.dNum-0405 ul.tab_agree li {float:left;}
.dNum-0405 ul.tab_agree li.on a{color:#6161a5;}
.dNum-0405 p.tit {color:#333;font-size:1.25em;font-weight:bold;line-height:1.3em;padding:10px 0 15px 77px;background:url("img_arrow_down.gif") 0 0 no-repeat;}
.dNum-0405 p.p1 {text-align:right;padding-bottom:7px;}
.dNum-0405 h4 {color:#333;font-size:1.5em;padding:40px 0 20px 0;}
.dNum-0405 h4.pd {padding-bottom:0;}
.dNum-0405 .policyArea {font-size:1.1em;line-height:1.5em;border:1px solid #e5e5e5;padding:20px;margin-top:20px;}
.dNum-0405 .policyArea p {margin-bottom:20px;}
.dNum-0405 .policyArea p span {display:block;}
.dNum-0405 .policyArea dl {background:url("bg_dot.png") repeat-x left top;padding-top:20px;}
.dNum-0405 .policyArea dl dt {float:left;font-weight:bold;margin-right:5px;}
.dNum-0405 p.agree {text-align:right;padding-top:10px;}
.dNum-0405 table {margin-bottom:20px;}
.dNum-0405 table th {vertical-align:middle;}
.dNum-0405 table th.vat {vertical-align:top;}
.dNum-0405 table label.pdr {margin-right:12px;}
.dNum-0405 table td select {width:90px;border:1px solid #e5e5e5;padding:5px 5px 4px;margin-right:2px;}
.dNum-0405 table td select.swd01 {width:150px;}
.dNum-0405 table td input {border:1px solid #e5e5e5;padding:6px 5px 5px;margin-right:5px;}
.dNum-0405 table td input.bdn {border:0;padding:0;}
.dNum-0405 table td input.mg {margin-bottom:3px;}
.dNum-0405 table td input.wd01 {width:180px;}
.dNum-0405 table td input.wd02 {width:75px;}
.dNum-0405 table td input.wd03 {width:150px;}
.dNum-0405 table td input.wd04 {width:98.5%;}
.dNum-0405 table td textarea {width:98.5%;height:190px;font-size:1em;padding:5px;border:1px solid #e5e5e5;resize:none;}
.dNum-0405 table td .file-txt {width:295px;}
.dNum-0405 table td .file-att {position:absolute;left:-9999px;width:0;height:0;}
.dNum-0405 table td .file-att-btn img {vertical-align:middle;}
.dNum-0405 .okcc {width:210px;margin:0 auto;padding-top:40px;}
.dNum-0405 .okcc li {float:left;margin-right:10px;}
.dNum-0405 .okcc li.last {margin:0;}

